/*  Reset Styles */
*, :root {
 list-style-type: none;
 box-sizing: border-box;
 text-decoration: none;
 color: var(--primary-text);
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 font-size: var(--font-medium)
}

/* Variables */
:root {
  /* Colors */
  --primary-color: #ddd;
  --light-primary-color: #f5f5f5;
  --primary-hover: #fff;
  --secondary-hover: #bbb;
  --primary-text: #000080;
  --secondary-text: #333;
  --secondary-focus: #c3c3c3;
  --primary-focus: #eee;

  /* Fonts */
  --font-small: clamp(0.75rem, 1vw + 0.1rem, 0.85rem);
  --font-medium: clamp(1rem, 2vw + 0.25rem, 1.25rem);
  --font-large: clamp(1.25rem, 3vw + 0.25rem, 1.5rem);
  --font-xl: clamp(1.5rem, 3vw + 0.25rem, 2.5rem);

  /* Padding */
  --padding-xs: clamp(0.25rem, 1vw + 0.05rem, .5rem);
  --padding-small: clamp(0.5rem, 2.5vw + 0.1rem, 1rem);
  --padding-medium: clamp(1rem, 2.5vw + 0.25rem, 1.5rem);
  --padding-large: clamp(1.5rem, 5vw + 0.25rem, 3rem);
  --padding-xl: clamp(2.5rem, 2.5vw + 0.25rem, 4rem);

  /* Margin */
  --margin-xs: clamp(0.5rem, 2.5vw + 0.1rem, 1rem);
  --margin-small: clamp(1rem, 2.5vw + 0.25rem, 2rem);
}

/* Base Styles */
body {
  background-color: var(--light-primary-color)
}

main {
  padding: var(--padding-medium);
  padding-top: var(--padding-large);
}

nav {
  height: 3rem;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px  var(--primary-color);
}

section {
  width: clamp(16rem, 90vw, 32rem);
  margin: 0 auto;
  padding: var(--padding-medium);
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--secondary-focus)
}

button {
  padding: var(--padding-xs);
  background: var(--primary-hover);
  color: var(--primary-text);
  font-weight: bold;
  font-size: var(--font-small);
  border-radius: 10px;
}

button:hover {
  color: var(--primary-hover);
  background: var(--primary-text);
  border-color: var(--primary-text);
  cursor: pointer;
}

textarea {
  width: 100%;
  min-height: 9.5rem;
  margin-bottom: 2rem;
  background: var(--light-primary-color);
  text: var(--secondary-text);
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  line-height: 1.4;
  transition: all 0.2s;
  resize: none;
}

textarea:hover {
  cursor: pointer;
  background: var(--secondary-hover);
  border-color: var(--primary-text);
}

textarea:focus {
  cursor: text;
  color: var(--secondary-text);
  background-color: var(--primary-focus);
  border-color: var(--secondary-text);
}

/* Fonts */
h1 {
  font-size: var(--font-xl);
  padding-bottom: var(--padding-medium);
  border-bottom: 1px solid var(--light-primary-color)
}

h3 {
  font-size: var(--font-large);
  padding: var(--padding-medium);
  text-align: left;
}

h5 {
  padding: var(--padding-xs);
}

/* Button Styles */
.section-button {
  margin-left: var(--margin-xs);
  margin-right: var(--margin-xs);
  font-size: var(--font-medium)
}

.flashcard-buttons {
  padding: var(--padding-medium)
}

/* Navbar Styles*/
.nav-list {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.nav-button {
  width: 33.33%;
  height: 100%;
  padding: 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0px;
}

.nav-button:hover {
  background-color: var(--primary-text);
}

/* Section Stlyes */
#settings p {
  text-align: left;
}

.card-controls {
  margin-bottom: var(--margin-small)
}

.section-text {
  margin-bottom: var(--margin-xs);
}

/* Flashcard Styles */
.card-area {
  position: relative;
  width: clamp(18rem, 30vw, 30rem);
  height: clamp(10rem, 25vh, 20rem);
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px var(--secondary-text);
  transition: all 0.2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-focus);
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.card p {
  font-size: var(--font-xs);
  padding: var(--padding-xs);
}

/* Utility Styles */

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Transition Styles */
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active  {
  transition: opacity .2s ease;
}
